.action-items {
    position: absolute;
    right: 16px;
    top: 1px;
}

// .event-schedule {
//     color: #0b675f;
// }

.dummy-img-bg {
    background-color: #f4f6fa;
}
.myImg{
    cursor: pointer;
}
