<div class="card-container">
	<div class="card-container-header">
		<h6 class="mb-0">
			<div class="d-flex align-items-center">
				<img src="assets/img/message.png" alt="invite member" width="16" height="16" class="img-fluid me-3">
				Download Member List
			</div>
		</h6>
	</div>

	<hr class="e2e">

	<div class="download-container">
		<p class="title mb-1">Get to Know Your Members</p>
		<p class="text-muted disclaimer">
			Get an Excel file that contains your member data, including name, email address, location, Member Category,
			and Topics followed.
		</p>
		<button class="btn btn-success xs me-2 px-4 mt-3">
            Download Member List
        </button>
	</div>
</div>