<div class="card-container">
    <div class="card-container-header">
        <h6 class="mb-0">Notification setting</h6>
        <div>
            <!-- <button class="btn btn-success xs px-4" >
                Edit
            </button> -->
            <ng-container >
                <button class="btn btn-success xs me-2 px-4" >
                    Save
                </button>
                <!-- <button class="btn btn-secondary xs border-0 px-4" >
                    Cancel
                </button> -->
            </ng-container>
        </div>
    </div>