<div class="card-container">
	<div class="card-container-header">
		<h6 class="mb-0">Workshops</h6>
		<div class="d-flex gap-2">
			<a [routerLink]="['/' + routes.workshops, 'reorder']" class="btn btn-nude fw-bold f-x-small">
				Reorder Workshop List
			</a>
			<a [routerLink]="['/' + routes.workshops, 'create']" class="btn btn-success fw-bold f-x-small">
				+ Create Workshop
			</a>
		</div>
	</div>

	<ng-container *ngIf="workshops.length && !isLoading">
		<div class="row mt-5">
			<div class="col-xl-6 mb-4" *ngFor="let item of workshops">
				<div class="card bs-1 border-bottom-0">
					<span ngbDropdown placement="bottom-end" display="dynamic" class="action-items">
						<a href="javascript:;" class="context-menu" ngbDropdownToggle id="more-dd">
							<img src="assets/img/dots.png" class="dots" alt="more" width="12" height="3">
						</a>
						<ul ngbDropdownMenu aria-labelledby="more-dd" class="custom-dd-menu small">
							<li ngbDropdownItem class="pointer p-0">
								<a class="d-block" href="javascript:;" (click)="action('view', item)">View Workshop</a>
							</li>
							<li ngbDropdownItem class="pointer p-0">
								<a class="d-block" href="javascript:;" (click)="action('edit', item)">Edit Workshop</a>
							</li>
							<li ngbDropdownItem class="pointer p-0">
								<a class="d-block" href="javascript:;" (click)="action('delete', item)">Delete Workshop</a>
							</li>
						</ul>
					</span>
					<div class="card-img text-center">
						<img src="assets/img/workshop-placeholder.png" class="img-fluid" alt="workshop">
					</div>
					<hr class="mb-0">
					<div class="card-body">
						<h5 class="mb-0">{{ item.title }}</h5>
						<p class="text-muted f-x-small mb-0">{{ item.description }}</p>
						<hr>
						<div class="d-flex justify-content-between align-items-center f-x-small">
							<div class="instructors">
								<div>Instructors</div>
								<div class="instructors-img rel mt-1">
									<img src="assets/img/invite-content.png" alt="member profile pic" width="30" height="30" class="img-round">
									<img src="assets/img/avatar-placeholder.png" alt="member profile pic" width="30" height="30" class="img-round">
									<img src="assets/img/avatar.png" alt="member profile pic" width="30" height="30" class="img-round">
								</div>
							</div>
							<div class="text-muted text-end">
								<div>4 Members</div>
								<div class="mw-220 text-overflow-dots mt-1">{{ item.tagline }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ngb-pagination [collectionSize]="collectionSize" [(page)]="payload.page" [maxSize]="5" [rotate]="true" [ellipses]="false"
			[boundaryLinks]="true" size="sm" class="d-flex justify-content-end" (pageChange)="pageChange($event)">
		</ngb-pagination>
	</ng-container>
	<div class="text-muted loading-container" *ngIf="!workshops.length && isLoading">Loading...</div>
	<div class="text-muted loading-container" *ngIf="!workshops.length && !isLoading">No Data Found!</div>
</div>