.invite {
    margin-top: 20px;

    .title {
        font-weight: 600;
        font-size: 0.875rem;
    }

    .link-field {
        background-color: #f4f6fa;
        padding: 0.375rem 1.5rem;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        cursor: not-allowed;

        .link {
            color: #6e7682;
        }

        .copy {
            color: #0b675f;
            font-weight: 600;
            cursor: pointer;
        }
    }

    &.invite-email {
        textarea {
            padding-left: 54px;
            text-indent: 0;
        }

        .invite-content-img {
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            top: 10px;
            left: 16px;
        }

        .inline-fields {
            display: flex;

            .roles {
                flex: 33%;
            }

            .btn-secondary-outline {
                flex: 20%;
            }
        }
    }
}