.invite-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .stat-box {
        border-radius: 4px;
        border: solid 1px #f1f1f1;
        padding: 10px 25px;
        min-width: 100px;
        text-align: center;

        .stat-value {
            font-weight: 600;
            font-size: 16px;
        }
    }
}
