.plans {
    .card-header {
        background-color: #0b675f;
        color: #fff;
    }

    .card-body {
        .price-wrapper {
            color: #0b675f;
            .price {
                font-size: 1.125rem;
            }
        }
    }
}