<div class="">
    <div class="row-col-lg-2">
        <div class="card-container">
            <div class="fw-bold mb-3">Topics </div>
            <ul class="goal-subnav mb-0 ">
                <div class="row m-2">
                    <li class=" col-md-4 m-2 p-4 rounded " style="background-color:#0b675f;cursor: pointer"
                        (click)="allApiTopics('emotionalWellBeing')">
                        <a [routerLinkActive]="['active-nav']" style="color:white;" class="d-flex align-items-center">
                            <img src="assets/TropicIcons/emotional.png" alt="" height="30px" srcset="">
                            Emotional Well-Being</a>

                    </li>
                    <li class=" col-md-4 m-2 p-4 rounded" style="background-color:#0b675f;cursor: pointer"
                        (click)="allApiTopics('phusicalWellBeing')">
                        <a style="color:white" class="d-flex align-items-center">
                            <img src="assets/TropicIcons/physical.png" alt="" height="30px" srcset="">
                            Physical Well-Being</a>
                    </li>
                </div>
                <div class="row m-2">
                    <li class=" col-md-4 m-2 p-4 rounded" style="background-color:#0b675f;cursor: pointer"
                        (click)="allApiTopics('romaanticWellBeing')">
                        <a style="color:white" class="d-flex align-items-center">
                            <img src="assets/TropicIcons/romantic.png" alt="" height="30px" srcset=""> Romantic
                            Well-Being</a>
                    </li>
                    <li class=" col-md-4 m-2 p-4 rounded" style="background-color:#0b675f;cursor: pointer"
                        (click)="allApiTopics('socialWellBeing')">
                        <a style="color:white" class="d-flex align-items-center">
                            <img src="assets/TropicIcons/social.png" alt="" height="30px" srcset=""> Social
                            Well-Being</a>

                    </li>
                </div>
                <div class="row m-2">
                    <li class=" col-md-4 m-2 p-4 rounded" style="background-color:#0b675f;cursor: pointer"
                        (click)="allApiTopics('familyWellBeing')">
                        <a style="color:white" class="d-flex align-items-center">
                            <img src="assets/TropicIcons/family.png" alt="" height="30px" srcset="">
                            Family Well-Being</a>

                    </li>
                    <li class=" col-md-4 m-2 p-4 rounded" style="background-color:#0b675f;cursor: pointer"
                        (click)="allApiTopics('spiritualWellBeing')">
                        <a style="color:white" class="d-flex align-items-center">
                            <img src="assets/TropicIcons/spiritual.png" alt="" height="30px" srcset="">
                            Spiritual Well-Being</a>
                    </li>
                </div>
                <div class="row m-2">
                    <li class=" col-md-4 m-2 p-4 rounded" style="background-color:#0b675f;cursor: pointer"
                        (click)="allApiTopics('financialWellBeing')">
                        <a style="color:white" class="d-flex align-items-center">
                            <img src="assets/TropicIcons/financial.png" alt="" height="30px" srcset="">
                            Financial Well-Being </a>
                    </li>
                    <li class=" col-md-4 m-2 p-4 rounded" style="background-color:#0b675f;cursor: pointer"
                        (click)="allApiTopics('careerWellBeing')">
                        <a style="color:white" class="d-flex align-items-center">
                            <img src="assets/TropicIcons/career.png" alt="" height="30px" srcset="">
                            Career Well-Being
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
