.chat-member {
    background-color: #fff;
    height: 80vh;
    overflow-y: auto;

    .chat-member-list {
        list-style-type: none;
        padding-left: 0;

        li {
            &.hoverable:hover {
                background-color: #f4f7fc;
            }
        }

        .search-chat {
            .form-control {
                background-color: #f4f6fa;
                border: 0;
                border-radius: 8px;
                text-indent: 22px;
            }
            img {
                position: absolute;
                top: 9px;
                left: 8px;
            }
        }
    }
}