.tru-banner {
    border-radius: 6px;
    overflow: hidden;
}

.tru-info {
    border-radius: 6px;
    padding: 25px 30px;
}

.step-2-points {
    display: flex;
    gap: 15px;
    h6 {
        font-size: 14px;
    }
}

.arrow {
    margin-top: -1px;
}