.hotcold {
    // min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .vote-label {
        width: calc(100% - 25px);
    }

    .scale {
        width: calc(100% - 25px);
    }

    // We need to use ::ng-deep to overcome view encapsulation
    ::ng-deep {
        .hot-cold-slider {
            width: calc(100% - 25px);
            background-color: #2E5CA6;
            background-image: linear-gradient(to right, #2E5CA6 , #4F8CC1, #57B6ED, #F0F1F2, #FFDD83, #FAA947, #E9544E);
            border-radius: 6px;
            padding: 0 20px;
            
            .ngx-slider[disabled] .ngx-slider-pointer {
                background-color: transparent;
            }
    
            .ngx-slider {
                height: 2px;
                margin: 45px 0 5px 0;
                
                .ngx-slider-bar {
                    background-color: #F0F1F2;
                    background-image: linear-gradient(to right, #2e5ca678, #4f8cc178, #57b6ed7d, #f0f1f282, #ffdd837d, #faa9477a, #e9544e80);
                    height: 1px;
                }
    
                .ngx-slider-bar-wrapper {
                    margin-top: -15px;
                }
    
                .ngx-slider-pointer {
                    top: auto;
                    bottom: 0;
                    background-color: transparent;
                    width: 0;
                    height: 0;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 12px solid #FFF;
                    position: absolute;
    
                    &::after {
                        display: none;
                    }
                }
    
                .ngx-slider-bubble {
                    bottom: 14px;
                    color: transparent;
                    font-size: 12px;
                }
    
                .ngx-slider-limit {
                    font-weight: bold;
                    color: transparent;
                    font-size: 12px;
                }
    
                .ngx-slider-tick {
                    width: 1px;
                    height: 10px;
                    margin-left: 4px;
                    border-radius: 0;
                    background: #ffe4d1;
                    top: -1px;
                }
            }
    
        }
    }
}
