<div class="card-container">
	<div class="card-container-header">
		<h6 class="mb-0">
			<div class="d-flex align-items-center">
				<img src="assets/img/message.png" alt="invite member" width="16" height="16" class="img-fluid me-3">
				Member Communication
			</div>
		</h6>
	</div>

	<hr class="e2e">

	<div class="comm-container">
		<p class="title mb-1">Private Chat</p>
		<p class="text-muted disclaimer">
			Get an Excel file that contains your member data, including name, email address, location, Member Category,
			and Topics followed.
		</p>
		<label class="switch">
			<input type="checkbox" [checked]="true">
			<span class="slider round"></span>
		</label>

		<hr>

		<p class="title mb-1">All Member Chat</p>
		<p class="text-muted disclaimer">
			Open a chat conversation for all members of Joy Society
		</p>
		<label class="switch">
			<input type="checkbox">
			<span class="slider round"></span>
		</label>
	</div>
</div>