<div ngbDropdown placement="bottom-end" display="dynamic">
	<a href="javascript:;" class="nav-link" id="notification-dd" ngbDropdownToggle>
		<img src="assets/img/bell.png" alt="notification" width="16" height="15">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
            2
        </span>
	</a>
	<ul ngbDropdownMenu aria-labelledby="notification-dd" class="custom-dd-menu">
		<div [style.max-height]="ddHeight + 'px'" class="notifications">
            <li class="no-hover">
                <div class="ngb-dropdown-header">
                    <div class="ngb-dropdown-title">
                        Notifications
                    </div>
                    <div class="ngb-dropdown-actions">
                        <div ngbDropdown placement="bottom-end" display="dynamic" class="action-items">
                            <a href="javascript:;" class="context-menu" ngbDropdownToggle id="more-dd">
                                <img src="assets/img/dots.png" alt="more" width="14" height="3">
                            </a>
                            <ul ngbDropdownMenu aria-labelledby="more-dd" class="custom-dd-menu small">
                                <li ngbDropdownItem class="pointer">
                                    <img class="me-2" src="assets/img/settings.png" alt="settings" width="16" height="16">
                                    Notification settings
                                </li>
                                <li ngbDropdownItem class="pointer">
                                    <img class="me-2" src="assets/img/send.png" alt="all notifications" width="16" height="16">
                                    View all notifications
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ngb-dropdown-body">
                    <div class="filters d-flex gap-1">
                        <div class="pointer filter-items px-2 py-1" *ngFor="let item of chatFilter" [ngClass]="{
                            'active': item.isActive
                        }" (click)="filterChat(item)">
                            {{ item.label }}
                        </div>
                    </div>
                </div>
            </li>
    
            <li class="no-hover notification-items" *ngIf="notificationNew.length">
                <div class="section-title x-small active">New</div>
                <ul class="p-0 section-body">
                    <ng-container [ngTemplateOutlet]="notificationTemplate" *ngFor="let item of notificationNew"
                        [ngTemplateOutletContext]="{item: item}">
                    </ng-container>
                </ul>
            </li>
    
            <!-- <li class="no-hover notification-items" *ngIf="selectedChatFilter == 'All' && notificationOld.length">
                <div class="section-title x-small">Earlier</div>
                <ul class="p-0 section-body">
                    <ng-container [ngTemplateOutlet]="notificationTemplate" *ngFor="let item of notificationOld"
                        [ngTemplateOutletContext]="{item: item}">
                    </ng-container>
                </ul>
            </li> -->
        </div>

        <hr class="section-divider mx-0">

        <li ngbDropdownItem class="pointer no-hover text-center see-all">
            See All
        </li>
	</ul>
</div>

<ng-template let-item="item" #notificationTemplate >
    <div *ngFor="let i of notificationData">
    <li ngbDropdownItem class="pointer">
        <a [routerLink]="['/']" class="ps-2 rel">
            <div class="d-flex align-items-center gap-2">
                <img src="assets/img/avatar.png" alt="pic" width="48" height="48">
                <div class="notification-text">
                    <strong>{{ i.name }}</strong> 
                    <span class="mute ms-1">{{ i.description }}</span>
                    <div class="mute">{{ i.time }}</div>
                </div>
            </div>
            <div *ngIf="item.isNew" class="notification-new"></div>
        </a>
    </li>
</div>
</ng-template>